body{
    font-family: "MS Mincho";
    text-align: center;
    color: red;
    font-size:  40px;
    background-image:url(../botan1Bk.jpg);
}
input[name="onoda"]{
    width: 500px;
    height: 100px;
    margin-top: 180px;
    background-color: red;
    font-size: 150%;
    font-family: "MS Mincho";
    font-weight: 700;
}
p{
    margin-top: 100px;
}